<div class="btr-panel">
    <h4>About</h4>

    <div>
        <h4>Angular XKE hands-on using </h4>

        <ul>
            <li><a href="http://docs.angularjs.org/">AngularJS</a></li>
            <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> with <a href="http://bootswatch.com/united/">United</a> theme</li>
            <li><a href="http://nodejs.org/">Node JS</a> with <a href="http://expressjs.com/">express</a></li>
            <li><a href="http://www.mongodb.org/">MongoDB</a></li>
        </ul>

    </div>
</div>
