<div class="btr-panel">
    <h4>New issue</h4>

    <form name="issueForm" class="form-horizontal" ng-submit="add()">
        <fieldset>

            <ng-include src="'partials/issue-form.html'"></ng-include>

            <div class="control-group">
                <div class="controls">
                    <input id="submit" class="btn btn-primary" ng-disabled="submitting" type="submit" value="Submit"/>
                    <a class="btn" ng-href="#/issue">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>

</div>