<div class="btr-panel" xmlns="http://www.w3.org/1999/html">
    <h4>Edit issue: #{{ issue.businessId }}</h4>

    <form class="form-horizontal" ng-submit="edit()">  <!-- EXO-5.3 (ng-submit) -->
        <fieldset>
            <legend>Details</legend>

            <ng-include src="'partials/issue-form.html'"></ng-include>

            <div class="control-group">
                <label class="control-label" for="status">Status</label>
                <div class="controls">
                    <select id="status" ng-model="issue.status"> <!-- EXO-5.3 (ng-model) -->
                        <option value="new">New</option>
                        <option value="confirmed">Confirmed</option>
                        <option value="resolved">Resolved</option>
                        <option value="archived">Archived</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">New comment</div>
                <div class="controls">
                    <textarea class="span8" type="text" ng-model="newComment.comment"></textarea>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input id="submit" type="submit" class="btn btn-primary" ng-disabled="submitting">
                    <a class="btn" ng-href="#/issue">Cancel</a>
                </div>
            </div>
        </fieldset>

        <div class="legend">Comments ({{comments.length}})</div>  <!-- EXO-5.4 ( {{ }} ) -->
        <div class="comment" ng-repeat="comment in comments">  <!-- EXO-5.4 (ng-repeat) -->
            <div>By <b>{{comment.reporter}}</b> on {{comment.date | date:'hh:mm dd/MM/yyyy'}}</div>  <!-- EXO-5.4 ( {{ }} ) -->
            <textarea class="span9" type="text" ng-bind="comment.comment" disabled></textarea>  <!-- EXO-5.4 (ng-bind) -->
        </div>

    </form>
</div>