<div class="btr-login-bkg img-rounded">
</div>

<form class="form-horizontal" name="loginForm" novalidate>
    <div class="modal">
        <div class="modal-header">
            <h3>Identification</h3>
        </div>

        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="login">Login</label>

                <div class="controls">
                    <input type="text" id="login" placeholder="jblack"
                           class="input-medium"
                           required>  <!-- EXO-2.4 (ng-model) -->
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="name">Full name</label>

                <div class="controls">
                    <input type="text" id="name" placeholder="Joe Black"
                           class="input-xlarge"
                           required>  <!-- EXO-2.4 (ng-model)-->
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary"
                    ng-disabled="loginForm.$invalid"> <!-- EXO-2.4 ( ng-click: call doLogin() ) -->
                Login
            </button>
        </div>
    </div>
</form>
